* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #080808;
  color: #fff;
}

/* -----------Navigation-Bar--------------- */
.logo {
  width: 180px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #64ed88;
  position: absolute;
  left: 0;
  bottom: -6px;
}
nav ul li a:hover::after {
  width: 100%;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.hero img {
  margin-top: 50px;
  max-width: 500px;
}

.hero h1 {
  font-size: 60px;
  margin-top: 20px;
}
.hero h1 span {
  color: #64ed88;
}
.container {
  padding: 10px 20%;
}

/* -----------about--------------- */
#about {
  padding: 150px 0;
  color: #ababab;
  font-size: 1.3em;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.skills {
  margin-top: 10px;
  font-size: 40px;
}

.skill-lists {
  display: inline-block;
}

.skill-lists ul {
  list-style: none;
  margin: 10px 0;
}
.skill-lists ul li span {
  color: #64ed88;
  font-size: 14px;
}
.about-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.about-list div img {
  width: 100%;
  margin-top: 10px;
  max-width: 500px;
  border-radius: 15px;
}

/* ----------------services------------- */
#services {
  padding: 30px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div:hover {
  background: #64ed88;
  color: #246534;
}
/* -------portfolio----------- */
#portfolio {
  padding: 30px 0;
}
.works-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.works-list figure {
  background: #262626;
  padding: 25px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
}

.works-list figure h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 15px;
}
.works-list figure p {
  font-size: 1.5em;
  margin-top: 15px;
}

.works-list figure img {
  width: 100%;
  border-radius: 10px;
}
.works-list figure:hover {
  background: #64ed88;
  color: #246534;
}

footer {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
